[submodule "DynamixelSDK"]
	path = DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "open_manipulator_dependencies"]
	path = open_manipulator_dependencies
	url = https://github.com/ROBOTIS-GIT/open_manipulator_dependencies.git
[submodule "open_manipulator_controls"]
	path = open_manipulator_controls
	url = https://github.com/ROBOTIS-GIT/open_manipulator_controls.git
